@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----------- home ------------ */
.hero-box {
  background-image: url("./assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
@media (min-width: 600px) {
  .hero-box {
    background-position: 100% 50%;
  }
}

.grey-drop {
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 700px;
  position: absolute;
  z-index: -1;
}

.grey-drop-top {
  background-image: url("./assets/home/desktop/grey-drop-top.svg");
  top: 350px;
  left: 0px;
}

.grey-drop-bottom {
  background-image: url("./assets/home/desktop/grey-drop-bottom.svg");
  top: 1500px;
  right: 0px;
  min-width: 1000px;
}
/* designs section grid */
.designs {
  min-height: 640px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "web app"
    "web graphics";
  gap: 25px;
}

.designs__item {
  cursor: pointer;
  background: rgb(231, 129, 107);
  border-radius: 15px;
  overflow: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative */
}
.designs__item:hover{
  /* position: relative; */
  z-index: 2;
}
.designs__item:hover .designs__img {
  transform: scale(1.2);
  opacity: 0.3;
}

.designs__item_web {
  grid-area: web;
}

.designs__item_app {
  grid-area: app;
}

.designs__item_graphics {
  grid-area: graphics;
}

.designs__img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-blend-mode: darken;
  transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.designs__img_web {
  background: rgba(0,0,0,0.5) url('../resources/assets/home/desktop/image-web-design-large.jpg') 0 0/cover no-repeat;
}

.designs__img_app {
  background: rgba(0,0,0,0.5) url('../resources/assets/home/desktop/image-app-design.jpg') 0 0/cover no-repeat;
}

.designs__img_graphics {
  background: rgba(0,0,0,0.5) url('../resources/assets/home/desktop/image-graphic-design.jpg') 0 0/cover no-repeat;
}