body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ----------- home ------------ */
.hero-box {
  background-image: url("/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
@media (min-width: 600px) {
  .hero-box {
    background-position: 100% 50%;
  }
}

.grey-drop {
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 700px;
  position: absolute;
  z-index: -1;
}

.grey-drop-top {
  background-image: url("../public/assets/home/desktop/grey-drop-top.svg");
  top: 350px;
  left: 0px;
}

.grey-drop-bottom {
  background-image: url("../public/assets/home/desktop/grey-drop-bottom.svg");
  top: 1730px;
  right: 0px;
  min-width: 1000px;
}
